.main-collection{
  padding: 10px;
}

.all-achievements{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-evenly;
}

.panel{
  height: 80px;
  width: 80px;
  background-color: rgb(27, 151, 253);
  border-radius: 50%;
  border: black 1px solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  font-size: 13px;
  font-weight: 700;
  padding: 10px;
  cursor: pointer;
}

.panel:hover{
  background-color: rgb(216, 184, 0);
}

.a-icon{
  
  height: 60px;
  width: 60px;
}