#root{
  height: 100vh;
  background-color: #3d52a0;
}

.add-icon{
  height: 20px;
  width: 20px;
  z-index: 300; 
}

.home-container{
  padding: 10px;
  height: 100vh;
  display: flex;  
  flex-direction: row;
}

.left-container{
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

.current-trips-header{
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 10px;
}

.home-title{
  font-weight: 700;
  font-size: 20px;
}

hr{
  border: 1px rgb(141, 180, 228) solid;
}

.right-container{
  width: 60%;
}

.social-title{
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

.planned-trips-wrapper{
  position: relative;
  min-height: 100px;
}

.planned-trips{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.recent-favorites{
  width: 80%;

}