.parks-container{
  position: relative;
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 20px;
  column-gap: 10px;
  justify-content: space-evenly;
  top: 10px;
  margin: 0;
}

table{
  border: 2px solid #8DB4E4;
  border-collapse: collapse;
  max-width: 600px;
}

td, th{
  border: 1px solid #8DB4E4;
  padding: 5px;
  cursor: pointer;
  text-align: center;
}

.ride-name:hover{
  background-color: #f1f1f1;
}

.ride-status{
  font-weight: 700;
}

tbody > tr:nth-of-type(even) {
  background-color: #8db4e469;
}

th{
  height: 50px;
}

th:hover{
  background-color: #f1f1f1;
}