.parks-container{
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 20px;
  column-gap: 10px;
  justify-content: space-evenly;
  top: 10px;
  margin: 0;
  width: 100%;
  margin-bottom: 10px;
}

.table-container{
  position: relative;
  min-height: 400px;
  max-height: 400px;
  overflow-y: auto;
  width: 600px;
  min-width: 200px;
  scrollbar-width: thin;
  border: 2px #8db4e4c0 solid;
  border-radius: 5px;
  padding: 0;
  margin: 0;
}



.ride-status{
  font-weight: 600;
  text-align: end;
}

tr > th{
  background-color: #a2cdff6e;
}

td{
  cursor: pointer;
}

table{
  height: 400px;
  min-height: none;
  width: 400px;
}

.notice{
  display: flex;
  justify-content: center;
  align-items: center;
}

.notice > p{
  font-size: 10px;
}



