.all-trip{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 80px;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.all-trip.slide-out {
  transform: translateX(-100vw);
  opacity: 0;
}

.trip-container{
  width: 80%;
  height: 100%;
  box-sizing: border-box;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(95, 174, 235, 0.15) 0px 1px 3px 1px;
}

.resort-name{
  font-size: .9rem;
}

.days-away{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number-of-days{
  font-weight: 700;
}

.trip-edit-options{
  position: absolute;
  left: 200px;
  width: 15%;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 8px;
  opacity: 0;
  z-index: -1;
  transition: opacity .5s linear;
}

.all-trip:hover .trip-edit-options, .trip-edit-options:hover{
  left: 265px;
  opacity: 1;
  z-index: 1;
}

.edit-icon{
  width: 20px;
  height: 20px;
}

.delete-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width: 50px;
  height: 100%;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #8DB4E4;
}

.edit-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8DB4E4;
  border: 1px solid white;
  width: 50px;
  height: 100%;
  border-radius: 5px;
  cursor: pointer;
}



